@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ik4sao');
    src:  url('../fonts/icomoon.eot?ik4sao#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?ik4sao') format('truetype'),
      url('../fonts/icomoon.woff?ik4sao') format('woff'),
      url('../fonts/icomoon.svg?ik4sao#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-done:before {
    content: "\e900";
  }
  .icon-search:before {
    content: "\f002";
  }
  .icon-map-marker:before {
    content: "\f041";
  }
  .icon-heart-o:before {
    content: "\f08a";
  }
  .icon-copy:before {
    content: "\f0c5";
  }
  .icon-files-o:before {
    content: "\f0c5";
  }
  .icon-google:before {
    content: "\f1a0";
  }
  .icon-circle-thin:before {
    content: "\f1db";
  }
  .icon-pie-chart:before {
    content: "\f200";
  }
  .icon-shopping-basket:before {
    content: "\f291";
  }
  .icon-cart:before {
    content: "\e93a";
  }
  .icon-alarm:before {
    content: "\e950";
  }
  .icon-stats-bars:before {
    content: "\e99c";
  }
  .icon-bin:before {
    content: "\e9ac";
  }
  .icon-exit:before {
    content: "\ea14";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  