@import "vars";
@import "global";
@import "fonts";

.header {
    background-color: #ededed;
    border-bottom: 1px solid #cccccc;
    min-height: 40px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
    .menu {
        ul {
            li {
                display: inline-block;
                & + li {
                    margin-left: 20px;
                }
                a {
                    color: #000;
                }
            }
        }
    }
    .header__btn {
        li {
            display: inline-block;
            a{
                color: #000;
            }
        }
        .header__btn-regist{
            margin-right: 9px;
        }
        .header__btn-entry {
            padding: 20px 10px;
            background-color: #f8f8f8; 
        }
    }
}
.contacts__inner{
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    
    .logo{
        span{
            display: block;
            font-size: 12px;
            color: #6e6e6e;
        }
    }
    .contacts__item{
        max-width: 150px;
        margin: 0;
        font-size: 14px;
        span{
            font-weight: 700;
        }
    }
    .contacts__item-inquiry{
        max-width: 88px;
    }
    .contacts__item-num{
        max-width: 140px;
        font-size: 18px;
        .callback{
            font-size: 11px;
            padding: 10px;
            text-transform: uppercase;
            margin-top: 11px;
            border: none;
            background-color: #ffec00;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                top: -5px;
                left: 50%;
                right: 50%;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 5px solid #ffec00;
            }
        }
        
    }
}
.search{
    border-top: solid 3px #ededed;
    border-bottom: solid 3px #ededed;
}
.search__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .catalog{
        min-height: 45px;
        text-transform: uppercase;
        background-color: #ededed;
        padding: 20px 46px 20px 20px;
        font-size: 16px;
        font-weight: 600;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: 26px;
            right: 18px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 7px solid #000;
        }
    }
    .search__form{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: 15px;
            right: 30px;
            border-right: 7px solid #ededed;
            border-bottom: 5px solid transparent;
            border-top: 5px solid transparent;
        }
        &::before{
            content: "\f002";
            font-family: icomoon;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 20px;
            color: #000;
        }
        input{
            width: 400px;
            padding: 10px;
            border: solid 1px #ededed;
            border-right: 30px solid #ededed;
            &::placeholder{
                color: #ccc;
            }
        }
    }
    .search__icon-box{
        display: flex;
        align-items: center;
        .icon-item{
            width: 22px;
            height: 22px;
            background-color: #ededed;
            border-radius: 50%;
            margin-left: 38px;
            position: relative;
            &::before{
                content: '2';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: 12px;
                font-weight: 600;
            }
        }
        .icon__item-basket{
            background-color: #ffec00;
        }
        span{
            margin-left: 11px;
            font-size: 12px;
        }
    }
}